name: tests

on:
  pull_request:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  # Make sure the action works using the default settings
  test-install:
    name: default ${{ matrix.poetry-version }} ${{ matrix.os }} ${{ matrix.python-version }}
    strategy:
      fail-fast: true
      matrix:
        os: ${{ github.actor == 'dependabot[bot]' && fromJson('["ubuntu-latest"]') || fromJson('["ubuntu-latest","macos-latest","windows-latest"]') }}
        python-version: [ "3.9", "3.10", "3.11", "3.12", "3.13" ]
        poetry-version: [ "1.7.1", "2.1.3" ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./
        with:
          version: "${{ matrix.poetry-version }}"
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "${{ matrix.python-version }}"
      - run: |
          poetry install --no-root --no-interaction
          poetry run pytest --version

  # Make sure the action sets config options correctly
  test-config-options:
    name: non-standard config - ${{ matrix.os }} ${{ matrix.python-version }}
    strategy:
      fail-fast: true
      matrix:
        os: ${{ github.actor == 'dependabot[bot]' && fromJson('["ubuntu-latest"]') || fromJson('["ubuntu-latest","macos-latest","windows-latest"]') }}
        python-version: [ "3.9", "3.10", "3.11", "3.12", "3.13" ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "${{ matrix.python-version }}"
      - uses: ./
        with:
          version: 1.7.1
          virtualenvs-create: false
          virtualenvs-in-project: true
          virtualenvs-path: ~/.cache/test
          installer-parallel: false
      - run: |
          source .github/scripts/assert.sh
          assert_in  "1.7.1" "$(poetry --version)"
          assert_in  "false" "$(poetry config virtualenvs.create)"
          assert_in  "true"  "$(poetry config virtualenvs.in-project)"
          assert_in  "test"  "$(poetry config virtualenvs.path)"
          assert_in  "false" "$(poetry config installer.parallel)"

  # Check that installation-arguments works
  test-installation-arguments:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.10"
      - uses: ./
        with:
          installation-arguments: --git https://github.com/python-poetry/poetry.git@19a2f7bddb9bdf931a229ea0913a84021f3f9b93
      - run: |
          source .github/scripts/assert.sh
          assert_in "1.8.5" "$(poetry --version)"

  # Check that plugins installing works
  test-plugin-installation:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./
        with:
          plugins: poetry-plugin-bundle
      - run: |
          source .github/scripts/assert.sh
          assert_in "poetry-plugin-bundle" "$(poetry self show plugins)"

  test-plugins-whitespace-delimited:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./
        with:
          plugins: |
            poetry-plugin-bundle
            poetry-plugin-export
      - run: |
          source .github/scripts/assert.sh
          assert_in "poetry-plugin-bundle" "$(poetry self show plugins)"
          assert_in "poetry-plugin-export" "$(poetry self show plugins)"

  # Retrieve the latest poetry version from PyPI
  check-latest:
    runs-on: ubuntu-latest
    outputs:
      latest-poetry-version: ${{ steps.fetch.outputs.version }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Fetch the latest Poetry version from PyPI
        id: fetch
        run: |
          curl -sf 'https://pypi.org/pypi/poetry/json' \
            | jq -r '"version=" + .info.version' \
            >> $GITHUB_OUTPUT

  # Make sure the action installs the latest version by default
  test-latest-version-when-unspecified:
    needs: check-latest
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./
      - run: |
          source .github/scripts/assert.sh
          assert_in "." "${{ needs.check-latest.outputs.latest-poetry-version }}"
          assert_in "${{ needs.check-latest.outputs.latest-poetry-version }}" "$(poetry --version)"

  # Make sure we're able to run the action with both major and minor versions
  # test-major-and-minor-versions:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: step-security/install-poetry@v1
  #     - uses: step-security/install-poetry@v1.2
  #     - uses: step-security/install-poetry@v1.3
